@CHARSET "UTF-8";
/* 全局公用样式 */
html, body, header, footer, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4,
	h5, h6, p, form, fieldset, legend, input, textarea, select, th, tr, td,
	em {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

a {
	color: #262626;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #ea5415;
}

button {
	border: none;
	background: none;
}

fieldset, img {
	border: 0;
}

input, textarea {
	border: 0;
	color: #666;
	background: none;
	font-family: "微软雅黑", "Microsoft YaHei";
	vertical-align: middle;
	outline: none;
	resize: none;
	font-size: 12px;
}

select {
	font: 12px Arial, Helvetica, sans-serif, 宋体;
}

address, caption, cite, code, dfn, strong, th, var, i, em {
	font-style: normal;
	font-weight: normal;
}

iframe {
	border: 0px none;
}

input[type=text], input[type=password] {
	padding: 5px;
	line-height: 25px;
	border: 1px #ddd solid;
	font-size: 14px;
}

input[type=text]:focus, input[type=password]:focus {
	border: 1px #60C7FF solid;
}

/* 背景颜色开始  */
.bg_fff {
	background: #fff;
}

.bg_ddd {
	background: #ddd;
}
/* 背景颜色结束  */

/* display:none开始 */
.none {
	display: none;
}
/* display:none结束 */

/* 左右浮动开始 */
.fl {
	float: left;
	_display: inline;
}

.fr {
	float: right;
	_display: inline;
}
/* 左右浮动结束 */

/* 清除浮动开始 */
.clearfix:after {
	clear: both;
	height: 0;
	visibility: hidden;
	content: "";
	display: block;
	font-size: 0
}

.clearfix {
	*zoom: 1;
}
/* 清除浮动结束 */

/* 圆角矩形开始 */
.radius {
	border-radius: 50%; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */	
	-moz-border-radius: 50%; /* Firefox */
	-webkit-border-radius: 50%; /* Safari 和 Chrome */
}
/* 圆角矩形结束 */

/* 超出隐藏开始 */
.overflow {
	overflow: hidden;
}

.left_flow {
	overflow: hidden;
	float: left;
}
/* 超出隐藏结束 */

/* 字体颜色开始 */
.font-grayer {
	color: #999;
}

.font-FFF {
	color: #FFF;
}

.font-blue {
	color: #31ace2;
}

.font-grayish {
	color: #777777;
}

.font-orange {
	color: #FF7F00;
}

.font-gray {
	color: #CCCCCC;
}

.font-light-white {
	color: #E5EFF7;
}

.font-green {
	color: #008000
}

.font-deep-green {
	color: #36C400
}

.font-oranger {
	color: #ff8c31;
}

.font-red {
	color: #FF0000;
}

.font-C8C8C8 {
	color: #C8C8C8;
}
/* 字体颜色结束 */

/* 纵向滚动条样式开始 */
.ybar {
	margin: 20px 5px 10px 0px;
	width: 100%;
	overflow: hidden;
}

.ybar .viewport {
	width: 96%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.ybar .overview {
	list-style: none;
	position: absolute;
}

.ybar .scrollbar {
	position: relative;
	float: right;
	width: 8px;
}

.ybar .track {
	height: 100%;
	width: 8px;
	position: relative;
	border-radius: 8px;
	background: #ccc;
}

.ybar .thumb {
	height: 20px;
	width: 8px;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	background: #f40;
	cursor: pointer;
}

.ybar .thumb .end {
	overflow: hidden;
	height: 5px;
	width: 8px;
}

.ybar .disable {
	display: none;
}
/* 纵向滚动条样式结束 */

/* 横向滚动条样式开始 */
.xbar {
	width: 100%;
	margin: 0 0 10px;
}

.xbar .viewport {
	width: 100%;
	height: 96%;
	overflow: hidden;
	position: relative;
}

.xbar .overview {
	list-style: none;
	position: relative;
}

.xbar .scrollbar {
	background: #ccc;
	position: relative;
	margin: 5px 0 5px;
	clear: both;
	height: 8px;
	border-radius: 8px;
}

.xbar .track {
	background:;
	width: 100%;
	height: 8px;
	position: relative;
}

.xbar .thumb {
	background: #f40;
	height: 8px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	border-radius: 8px;
	cursor: pointer;
}

.xbar .thumb .end {
	overflow: hidden;
	height: 8px;
	width: 5px;
}

.xbar .disable {
	display: none;
}
/* 横向滚动条样式结束 */

/* tab开始 */
.tab_head {
	overflow: hidden;
}

.tab_head ul {
	height: 30px;
	background: url(images/tabbg.gif) repeat-x;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
}

.tab_head ul li {
	float: left;
	position: relative;
	margin: 0 0 0 -1px;
}

.tab_head ul li a {
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	width: 108px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}

.tab_head ul li.current {
	border-left: solid 1px #d5d5d5;
	border-right: solid 1px #d5d5d5;
	border-top: solid 1px #c5c5c5;
}

.tab_head ul li.current a {
	border-top: solid 2px #ff6600;
	height: 27px;
	line-height: 27px;
	background: #fff;
	color: #3366cc;
	font-weight: 800;
}

.tab_body {
	border-width: 0 1px 1px 1px;
	border-color: #ddd;
	border-style: solid;
	position: relative; /* 必要元素 */
	height: 180px;
	overflow: hidden;
}

.tab_body .subbox {
	position: absolute; /* 必要元素 */
	left: 0;
	top: 0;
}

.tab_body .sublist {
	padding: 5px 10px;
	height: 170px;
}
/* tab结束 */

/* sublist开始 */
.sublist {
	padding: 10px;
}

.sublist li {
	/* height: 28px; */
	line-height: 28px;
	font-size: 12px;
}

.sublist li span {
	margin: 0 5px 0 0;
	font-family: "宋体";
	font-size: 12px;
	font-weight: 400;
	color: #ddd;
}
/* sublist结束 */

/* 图片素材，临时开始 */
img.def180, *.def180 {
	min-width: 180px;
	min-height: 180px;
	background: #EEE url('./../img/none_180.png') no-repeat top center;
}

img.def150, *.def150 {
	min-width: 150px;
	min-height: 150px;
	background: #EEE url(./../img/none_150.png) no-repeat top center;
}

img.def120, *.def120 {
	min-width: 120px;
	min-height: 120px;
	background: #EEE url(./../img/none_120.png) no-repeat top center;
}

img.def100, *.def100 {
	min-width: 100px;
	min-height: 100px;
	background: #EEE url('./../img/none_100.png') no-repeat top center;
}

img.def60, *.def60 {
	min-width: 60px;
	min-height: 60px;
	background: #EEE url('./../img/none_60.png') no-repeat top center;
}

img.def145, *.def145 {
	min-width: 145px;
	min-height: 120px;
	background: #EEE url('./../img/none_145.png') no-repeat center;
}

img.def130, *.def130 {
	min-width: 130px;
	min-height: 102px;
	background: #EEE url('./../img/none_130.png') no-repeat center;
}

img.def50, *.def50 {
	min-width: 50px;
	min-height: 50px;
	background: #EEE url('./../img/none_50.png') no-repeat center;
}

img.def110, *.def110 {
	min-width: 110px;
	min-height: 90px;
	background: #EEE url('./../img/none_110.png') no-repeat center;
}

img.def80, *.def80 {
	min-width: 80px;
	min-height: 80px;
	background: #EEE url('./../img/none_80.png') no-repeat top center;
}
/* 图片素材，临时 结束 */

/* 图片上传样式开始 */
.upload_hd {
	position: relative;
	width: 130px;
	height: 130px;
	border: 1px dashed #ccc;
	background: url(../img/008tp.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
	overflow: hidden;
}

.uploads_bg {
	background: url("../img/005.png") no-repeat;
}

.uploads_ztbj {
	background: url("../img/ztbj.png") no-repeat;
}

.add_img {
	background: url("../img/006.png") no-repeat;
}

.add_imgtj {
	background: url("../img/tianjiatp.png") no-repeat;
}

.add_tu {
	background: url("../images/add-pic-logo.png") no-repeat;
}

.set_up_head {
	position: relative;
	width: 320px;
	height: 320px;
	background: url(../img/up001.png) 30px 0px no-repeat;
	background-size: 100%;
	cursor: pointer;
	overflow: hidden;
}

.editImg {
	position: relative;
	width: 170px;
	height: 170px;
	border: 1px dashed #ccc;
	background-size: 100%;
	cursor: pointer;
	overflow: hidden;
	background: url("../img/014.png") no-repeat;
}

#idolup, #add_head, #add_pic, #theme_bg, #add_img, #editImg, #dalyup,
	#add_tu, #upone, #add_chuangjian {
	width: 132px;
	height: 50px;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor: pointer;
}

#theme_bg, #add_img {
	width: 110px;
	height: 30px;
}

#editImg {
	width: 170px;
	height: 170px;
}

#dalyup {
	width: 36px;
	height: 36px;
}

#add_tu {
	width: 140px;
	height: 130px;
}

#upone {
	width: 320px;
	height: 320px;
}

#add_chuangjian {
	width: 430px;
	height: 164px;
}

#idolup a input, #add-pet a input, #add_pic a input, #editImg a input,
	#dalyup a input, #add_tu a input, #upone a input {
	width: 100%;
	height: 132px;
}

#add_img a input, #add_chuangjian a input {
	width: 100%;
	height: 100%;
}

#upone a input {
	height: 100%;
}

.uploads img {
	width: 100%;
	height: 100%;
}
/* 图片上传样式结束 */

/* 提示样式开始 */
html>body .PTtext {
	position: absolute;
	display: none;
	margin-left: 10px;
}

html>body .PTtext span {
	display: block;
	width: initial;
	height: initial;
	font-size: 13px;
	padding: 7px 15px;
	background: #989898;
	border-radius: 4px;
	position: relative;
	top: -9px;
	color: #FFF;
}

html>body .PTtext em {
	display: block;
	border: 1px solid #ccc;
	width: 15px;
	height: 15px;
	margin-left: 15px;
	background: #989898;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* 提示样式结束 */